#conte{
    height: 100%;
    background: url("../../assets/fondos/noche.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover ;
    background-position: center center;
    
   
}
#h33{
    color: black;
    background-color: black;
}
#form{
    width: 70%;
    margin: auto;
    margin-top: 25%;
}
#form>ion-button{
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
#items>ion-button:hover{
 transform: scale(1.1);
 --background:red;
 transition: all ease 1s;
}
#form>ion-item{
 color:white;
}
.item{
    --background:transparent;
   
}
ion-label>ion-icon{
    font-size: 2rem;
}
ion-input:focus{
    --highlight-color-focused:#7044ff;
}








