<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      
      <ion-searchbar color="dark"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
    <ion-content >
      <div class="car" (click)="alert()">
        <img src="../../assets/fondos/azora.jpg" *ngIf="acep" alt="">
        <img src="../../assets/fondos/durotan.jpg" *ngIf="!acep" alt="">
      </div>
  
     
        <div id="conte">
            <ion-button id="dang" [disabled]="acep" (click)="change()" expand="full" color="danger">Dark

              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-button>
      <br>
      <form id="form">
        <ion-item class="item">
          <ion-label text-center position="floating">Insert your user</ion-label>
          <ion-input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" spellcheck=true type="text" clearInput maxlength=6><ion-icon name="person"></ion-icon></ion-input>
        </ion-item>
        <br>
        <ion-item class="item">
           <ion-label text-center position="floating"> Insert your pasword</ion-label>
           <ion-input [(ngModel)]="pass" type="text" [ngModelOptions]="{standalone: true}"clearInput><ion-icon name="code"></ion-icon></ion-input>

        </ion-item>
         <br>
         <ion-button expand="full"(click)="sendPostRequest()" [disabled]="!name" color="light">Send<ion-icon name="send"></ion-icon></ion-button>
      </form>
     
    </div>
    <ion-list inset="true" lines="inset">
      <ion-item-sliding  *ngFor="let moneda of monedas; let i=index">
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="delete(i)"><ion-icon name="trash"></ion-icon>Delete</ion-item-option>
        </ion-item-options>
     
      <ion-item color="light" id="items">
        <ion-avatar slot="start">
          <img src="{{moneda.Icono}}" alt="">
        </ion-avatar>
        <p>{{moneda.Estacion}}</p>
        <ion-button slot="end"  color="success">Success 
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-icon name="send"></ion-icon></ion-button>
      </ion-item>
      </ion-item-sliding>
    </ion-list>
    </ion-content>
    <ion-footer>
       <ion-toolbar>
          <ion-tabs >
              <ion-tab-bar color="primary" slot="bottom">
                <ion-tab-button tab="schedule">
                  <ion-icon name="calendar"></ion-icon>
                  <ion-label>user</ion-label>
                  
                </ion-tab-button>
            
                <ion-tab-button tab="speakers">
                    <ion-icon name="person"></ion-icon>
                  <ion-label>Speakers</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="map">
                  <ion-icon name="map"></ion-icon>
                  <ion-label>Map</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="about">
                  <ion-icon name="information-circle"></ion-icon>
                  <ion-label>About</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
         

       </ion-toolbar>
    </ion-footer>
  
</ion-app>


