<ion-header>
  <ion-toolbar color="tertiary">
      <ion-back-button color="light"
      defaultHref="home"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    <ion-title>Hero Of War</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
       <img src="{{this.carta.img}}" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1>{{this.carta.name}}</h1>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
